@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

body{
    height: 100vh;
    background: #212529;;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.navbar h2{
    color: #ffb742;
    font-weight: 600;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration:  none;
    color: #fff;
    font-size: 16px;
    margin-right: 25px;
    transition: color 0.3s ease;
}

.navbar ul li:hover a{
    color:  #ffb742;
}

.navbar ul li:last-child a{
    margin: 0;
}

.hire-btn{
    background: #ffb742;
    padding: 6px 30px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.hire-btn:hover{
    background: #ffb742;
}

.main{
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h4{
    font-size: 32px;
    color: #fff;
    font-weight: 600;
}

.main h4 span{
    color: #ffb742;
    text-decoration: underline;
}

.main p.title{
    font-size: 44px;
    font-weight: 600;
    color: #fff;
    margin-top: 8px;
}

.main p.subtitle{
    font-size: 16px;
    color: #ccc;
    margin-top: 20px;
}

.main img{
    width: 200px;
    height: 200px;
    margin-top: 100px;
}